@font-face {
    font-family: slick;
    src: url(../plugins/slick-1.5.9/slick-1.5.9/slick/fonts/slick.woff);
}

/** Global **/
html{
	background-color: lightgray;
}

body{
	width: 100%;
	height: 300px;
	background-color: blue;
}

.clear{
	clear: both;
}

.homepage#main-container{
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}

@media(max-width: 768px){
	#main-container{
		padding-top: 75px;
	}
}

/** End Global **/

/** Navigation **/
.main-navbar{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 150px;
	padding-right: 150px;
	margin-bottom: 0;
	background-color: #FFFFFF;
}

.main-navbar button{
	border-color: lightgray;	
}

.main-navbar button>span{
	background-color: lightgray;
}

.main-navbar .navbar-brand{
	padding: 0;
	margin: 0;
	width: 201px;
	height: 56px;
}

.main-navbar .navbar-nav>li>a{
	font-family: Impact, Charcoal, sans-serif;
	font-size: 27px;
	font-weight: bold;
	color: black;
}

.navbar-collapse{
	float: right;
}

@media (max-width: 1024px){
	.main-navbar{
		padding-left: 75px;
		padding-right: 75px;
	}
}

@media (max-width: 768px){	
	.main-navbar{
		position: fixed;
		z-index: 2;
		top: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 100%;
	}

	.main-navbar .navbar-header{
		padding-left: 30px;
		padding-right: 15px;
	}

	.main-navbar .navbar-collapse{
		padding-top: 10px;
		float: none;
	}

	.main-navbar .navbar-nav>li>a{
		text-align: center;
	}
}

/** END Navagaion **/

/** Local Favorites **/
.homepage .local-favorites-container{
	position: relative;
}

.homepage .local-favorites-container>.yellow-divider{
	height: 15px;
	width: 100%;
	background-color: yellow;
	position: relative;
	z-index: 1;
}

.homepage .local-favorites-container>.local-favorites{
	height: 490px;
	position: relative;
	z-index: 0;
	overflow: hidden;
}

.homepage .local-favorites-container>.local-favorites>img{
	position: absolute;
	width: 1280px;
	top: -15px;
	overflow: hidden;
}

@media(max-width: 768px){
	.homepage .local-favorites-container>.yellow-divider{
		position: fixed;
	}

	.homepage .local-favorites-container>.local-favorites>img{
		top: 0;
	}
}
/** END Local Favorites **/

/** Main Content **/
.homepage .main-content{

}

.homepage .main-content .instagram-logo-container{
	padding-top: 15px;
	padding-right: 150px;
}

.homepage .main-content .slick-carousel{
	padding-top: 75px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 60px;

}

.homepage .main-content .slick-carousel .slick-slide{
	color: black;
	text-align: center;
	font-size: 42px;
	font-weight: bold;
}

.homepage .main-content .slick-carousel .slick-slider{
	margin-bottom: 0 !important;
}

/** Override default slick-dots styling; requires !important **/
.homepage .main-content .slick-carousel .slick-dots{
	bottom: -30px !important;
}

.homepage .main-content .slick-carousel .slick-dots>li{
	margin: 0 2px !important;
}

.homepage .main-content .slick-carousel .slick-dots button::before{
	font-size: 18px !important;
	content: '\2022' !important;
}
.homepage .main-content .slick-carousel .slick-dots li.slick-active>button::before, .homepage .main-content .slick-carousel .slick-dots button:hover::before{
	color: #D66D58 !important;
}

@media(max-width: 1024px){
	.homepage .main-content .instagram-logo-container{
		padding-right: 100px;
	}

	.homepage .main-content .slick-carousel .slick-slide{
		padding-left: 75px;
		padding-right: 75px;
		font-size: 36px;
	}
}

@media(max-width: 768px){
	.homepage .main-content .instagram-logo-container{
		padding-right: 30px;
	}

	.homepage .main-content .slick-carousel .slick-slide{
		padding-left: 30px;
		padding-right: 30px;
		font-size: 30px;
	}
}
/** END Main Content **/